---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.comments %}
    <script data-isso="//comments.andrewradev.com/" src="//comments.andrewradev.com/js/embed.min.js">
    </script>

    <section id="isso-thread"></section>

    <noscript>
      Please enable JavaScript to view the <a href="https://posativ.org/isso">comments powered by Isso.</a>
    </noscript>
  {% endif %}

</article>
